
.button{
    -fx-font:"Tahoma";
    -fx-font-size:11pt;
    -fx-background-radius: 8;

}

.root{
    -fx-background-color: #5cd15c;
    -fx-font:"Tahoma"

}

.label{
    -fx-font: "Tahoma";
}
.text-field{
    -fx-background-radius: 8;
}

.date-picker{
    -fx-background-radius: 8;
}
.menu-button{
    -fx-background-radius: 8;
}
.table-view{
    -fx-background-radius: 8;
}
.scroll-bar{
    -fx-background-color: transparent;
}
.toggle-button {
    -fx-background-radius: 8;
}